@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;800&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

p, h3 {
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 400;
}

.heading {
    font-size: 2.4em;
    line-height: 1.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 1.2em 1.6em;
}

header {
    display: flex;
    justify-content: space-between;
}

.hide-mobile {
    display: none;
}

.filler {
    display: none;
}

.logo {
    position: absolute;
    width: 100px;
    left: 50px;
    top: 25px
}

.intro{
    position: relative;
    top: 60px;
}

.intro h1{
    font-family: consolas;
    margin: auto;
    font-size: 3em;
    font-weight: 800;  
    animation: 
      type 3s steps(15), 
      animated-cursor 1000ms steps(15, end) infinite 3s; 
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid orange;
    width: 15ch;
}

@keyframes type{
  from{
    width: 0ch;
  }
  to {
    width: 15ch;
  }
}
@keyframes animated-cursor{
  from{border-right-color: orange;}
  to{border-right-color: transparent;}
}

.intro p {
    font-size: 1.5em;
}

.intro p, .current_work h3, .contact p{
    width: 95%;
    margin: 0 auto;
}


.down {
    position: relative;
    width: 30px;
    top: 60px;
    animation: move 1s infinite alternate;
}

@keyframes move {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(20px);
    }
}

h1.prior {
    position: relative;
    top: calc(-100px - 1.5vw);
}


.experience {
    width: 100%;
    background: #00e1ff3d;
    margin-top: calc(25% + 10px);
    margin-bottom: 0;
    padding: 10em 0em 0em;
    border-radius: 40px;    
    transform: skewY(-6.8deg);
}


.experience ul {
    transform: skewY(6.8deg);
}

.experience h1{
    transform: skewY(6.8deg);
    opacity: 1;
    color: #000000;
    margin-bottom: -2em;
}

.experience:after{

}

.experience img {
    width: 400px;
    
}

.experience li {
    padding-bottom: 3em;
}

.current_work {
    position: relative;
    width: 100%;
    background: #e5e5e5;
    margin-top: 2px;
    margin-bottom: 0%;
    padding: 10em 0em 0em;
    border-top-left-radius: 40px;  
    border-top-right-radius: 40px;  
    border-bottom-left-radius: 380px;
    transform: skewY(-6.8deg);
    z-index: 0;
}
.balance {
    position: relative;
    width: 100%;
    background: #e5e5e5;
    margin-top: calc(10% - 600px);
    margin-bottom: 5%;
    padding: 35em 0em 0em;
    border-radius: 40px;    
    transform: skewY(6.8deg);
    z-index: -10;
}

.current_work ul ul {
    transform: skewY(0deg);
}

.current_work h1{
    margin-bottom: 2em;
}

.current_work h2{
    font-size: 1.8em;
    font-weight: 600;
}

.current_work h3{
    margin-bottom: 0.5em;
}


.current_work ul {
    position: relative;
    z-index: 15;
    transform: skewY(6.8deg);
}

.current_work h1{
    transform: skewY(6.8deg);
    opacity: 1;
    color: #000000;
    margin-top: -2em;
}


.resource {
    background: #00CC80;
    width: calc(100% 1em);
    color: #fff;
    border-radius: 20px;
    padding: 0.5em;
    margin: 0.5em;
}

.showcase {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 95%;
    background: #E1EFEE;
    margin: 1em auto 2em;
    padding-bottom: 1.5em;
    padding-top: 0.5em;
    border-radius: 40px;    
}

.current_work ul ul {
    display: flex;
    justify-content: center;
    
}

.contact img{
    width: 100px;
}

.contact ul li:nth-child(2) img{
    width: 120px;
    margin-top: -10px;
}

.contact p{
    font-size: 1.7em;
}

.contact ul{
    margin-top: 3em;
    display: flex;
    justify-content: center;
}


@media only screen and (min-width: 570px)  {

    .showcase {
        width: 80%;
    }

    .intro p, .current_work h3, .contact p{
        width: 85%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 700px)  {

    .showcase {
        width: 70%;
    }

    .intro p, .current_work h3, .contact p{
        width: 70%;
        margin: 0 auto;
    }

    .intro{
        position: relative;
        top: 100px;
    }

    .down {
        top: 80px;
    }

    .current_work h2 {
        font-size: 2em;
        font-weight: 600;
    }

    .contact h1{
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 850px)  {

    .showcase {
        width: 65%;
    }

    .container {
        width: 93%;
        margin: 0 auto;
    }

    .intro{
        position: relative;
        top: 120px;
    }

    .current_work h3, .contact p{
        width: 60%;
        margin: 0 auto;
    }

    .intro h1{
        font-size: 3.3em;
        font-weight: 900;  
    }
    
    .intro p {
        font-size: 1.65em;
    }

    .down {
        top: 100px;
    }
}

@media only screen and (min-width: 1080px)  {

    .experience{
        padding-bottom: 8em;
    }

    .logo{
        left: 87px;
        top: 30px;
    }
    .showcase {
        width: 100%;
        padding-bottom: 0;
        margin: 1 0;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }


    .current_work ul h2{
        font-size: 2.25em;
        position: relative;
        left: -27%;
        top: 10px;
    }
    

    .current_work ul h3{
        font-size: 1.5em;
        width: 50%;
        position: relative;
        text-align: left;
        top: -60px;
        left: 19%;
    }

    .current_work ul ul{
        width: 50%;
        position: relative;
        top: -40px;
        left: 42%;
    }

    .xp{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 100%;
        background: #CEFFE2;
        margin: 0em auto 3em;
        padding-bottom: 0;
        padding-top: 0.5em;
        border-radius: 40px;    
    }

    .xp img{
        width: 40%;
        position: relative;
        left: 27%;
        top: 30px;
        margin-bottom: -6vw;
    }

    .xp h2{
        font-size: 2.25em;
        font-weight: 600;
        position: relative;
        left: -22%;

    }

    .xp p{
        font-size: 1.5em;
        font-weight: 400;
        position: relative;
        left: -22%;

    }
    
    .VP{
        top: -12vw;
    }

    .TC{
        top: -16vw;
    }

    .reka{
      top: -12vw
    }

    .experience li{
        padding-bottom: 0;
    }

    .intro h1, .intro p{
        position: relative;
        left: -25vw;
        top: calc(50vh - 380px);
        text-align: center;
    }

    .intro h1{
        width: 15ch;
        margin: auto, 20px;
        font-size: 3.5em;
    }

    .intro p{
      width: 50%;
      font-size: 2.25em;
    }

    .experience{
        margin-top: calc(75vh - 250px);
    }
    
    .down{
        left: -25vw;
        top: calc(50vh - 350px);
    }

    .filler{
        display: initial;
        position: absolute;
        min-width: 350px;
        max-width: 550px;
        width: 40%;
        left: 65%;
        top: calc(50vh - 350px);

        animation-name: spin;
        animation-duration: 60000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear; 
    }

    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }

}

@media only screen and (min-width: 1200px)  {

    .container {
        width: 75%;
        margin: 0 auto;
    }
    .showcase, .xp {
        width: 100%;
    }

    .VP{
        top: -10.5vw;
    }

    .TC{
        top: -14.5vw;
    }

    .xp img{
        margin-bottom: -5.5vw;
    }
}

@media only screen and (min-width: 1350px)  {

    .container {
        width: 70%;
        margin: 0 auto;
    }
    .showcase, .xp {
        width: 100%;
        max-width: 1050px;
    }

    .VP{
        top: -9vw;
    }

    .TC{
        top: -13vw;
    }

    .xp img{
        margin-bottom: -5vw;
    }

    .filler{
        top: calc(50vh - 350px);
    }
}

@media only screen and (min-width: 1480px)  {

    
    .experience{
        margin-top: calc(75vh - 180px);
    }

    .filler{
        top: calc(50vh - 400px);
    }
}


@media only screen and (min-width: 1550px)  {

    .filler{
        top: calc(50vh - 440px);
    }

    .container {
        width: 70%;
        margin: 0 auto;
    }

    .VP{
        top: -135px;
    }

    .TC{
        top: -195px;
    }

    .xp img{
        margin-bottom: -70px;
    }
}

@media only screen and (min-width: 1800px)  {
    .filler{
        top: calc(50vh - 470px);
    }
}
